<div style="color:white;background-color:#1d1545;padding:3%;border-radius:50px 50px;font-size:1.4em;text-align:center">Data Cleaning for AI Index </div>
<div class="alert alert-block alert-info"> ðŸ“Œ <b>Purpose:</b> This notebook provides a comprehensive, step-by-step data cleaning pipeline for the <b>AI Index 2023</b> dataset. The goal is to ensure the dataset is ready for downstream analysis, machine learning, and visualization tasks.</div>

<!-- Step 1 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 1: Load and Preview the Dataset</b></div>

In [1]:
import pandas as pd

# Load the dataset
file_path = "/Users/sukanya/Downloads/Data Science Project/AI_index_db_unclean.csv"
df = pd.read_csv(file_path)

# Preview the first few rows
df.head()

/var/folders/_x/1j3rm6sd6cn3kd7qpmy3s_k40000gn/T/ipykernel_8866/1559750981.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,united states of america,100.00,NaN,64.56,100.00,NaN,77.39,100.00,100.0,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,asia-pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,lib. democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,forty,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,NaN,Middle East,Rising stars,High,Liberal democracy

<!-- Step 2 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 2: Standardize Column Names</b></div>

<!-- Step 2 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
 <b>Why?</b> Column names often include whitespace, inconsistent capitalization, or special characters that hinder analysis.<br><br>
This step converts them to lowercase, replaces spaces with underscores, and removes leading/trailing whitespace â€” making them consistent and Python-friendly.
</div>

In [2]:
# Convert all column names to lowercase, replace spaces with underscores, and strip whitespace
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Show updated columns
print(df.columns.tolist())

['country', 'talent', 'infrastructure', 'operating_environment', 'research', 'development', 'government_strategy', 'commercial', 'total_score', 'region', 'cluster', 'income_group', 'political_regime']

In [3]:
df

,country,talent,infrastructure,operating_environment,research,development,government_strategy,commercial,total_score,region,cluster,income_group,political_regime
0,united states of america,100.00,NaN,64.56,100.00,NaN,77.39,100.00,100.0,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,asia-pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,lib. democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,forty,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,NaN,Middle East,Rising stars,High,Liberal democracy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy
61,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.0,Asia-Pacific,Nascent,Lower middle,Electoral autocracy
62,Bahrain,4.99,NaN,60.90,2.53,0.00,17.72,0.24,11.79,Middle East,Waking up,High,Closed autocracy
63,Armenia,6.69,37.84,NaN,0.28,0.33,14.40,1.37,8.49,Europe,Waking up,Upper middle,Electoral democracy
64,United States of America,100.00,NaN,64.56,100.00,NaN,77.39,100.00,100.0,Americas,Power players,High,Liberal democracy

<!-- Step 3 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 3: Strip Whitespace from All String Columns</b></div>

<!-- Step 3 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
 <b>Why?</b> Hidden whitespace in text fields can lead to mismatches during grouping, merging, or filtering operations.<br><br>
By stripping whitespace from string (object) columns, we ensure cleaner comparisons and consistent category definitions.
</div>

In [ ]:
# Strip leading/trailing whitespaces from all string columns
for col in df.select_dtypes(include="object"):
    df[col] = df[col].str.strip()color:#3f68b0

<!-- Step 4 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 4: Fix Data Type Issues</b></div>

<!-- Step 4 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
<b>Problem:</b> The <code>total_score</code> column contains non-numeric values such as <code>'forty'</code>, which prevent proper numerical operations.<br><br>
<b>Fix:</b> Use <code>pd.to_numeric()</code> with <code>errors='coerce'</code> to convert all values to numbers. Invalid entries will become <code>NaN</code>, allowing us to handle them in the next step.
</div>

In [5]:
# Convert total_score to numeric, non-convertible values become NaN
df['total_score'] = pd.to_numeric(df['total_score'], errors='coerce')

<!-- Step 5 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 5: Explore and Handle Missing Values</b></div>

<!-- Step 5 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
<b>Goal:</b> Identify which columns have missing values and evaluate how much data is missing overall.<br><br>
This helps decide whether to drop, impute, or ignore missing entries based on their quantity and importance.
</div>

In [6]:
# Check % of missing values
missing_summary = df.isnull().mean().sort_values(ascending=False)
print(missing_summary)

infrastructure           0.107692
operating_environment    0.092308
development              0.092308
talent                   0.076923
total_score              0.030769
country                  0.000000
research                 0.000000
government_strategy      0.000000
commercial               0.000000
region                   0.000000
cluster                  0.000000
income_group             0.000000
political_regime         0.000000
dtype: float64

For numeric columns: Fill missing values with the mean

For categorical columns: Fill missing values with the mode

In [7]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])

<!-- Step 6 Header Box: Light Blue Title -->
<div style="color:white;background-color:#4A90E2;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 6: Standardize Categorical Text Entries</b></div>

<!-- Step 6 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
<b>Goal:</b> Standardize categorical text entries to handle issues like inconsistent casing (e.g., 'lib. democracy' vs 'Liberal democracy').<br><br>
Some columns may require proper title case for aesthetics and consistent grouping.<br><br>
<b>Fix:</b> Apply .str.title() to standardize the text and fix known typos for better uniformity.
</div>

In [8]:
# Define which columns to format
text_columns = ['country', 'region', 'cluster', 'income_group', 'political_regime']

# Apply title casing
for col in text_columns:
    df[col] = df[col].str.title()

# Fix specific typos or inconsistencies
df['political_regime'] = df['political_regime'].replace({
    'Lib. Democracy': 'Liberal Democracy'
})

<!-- Step 7 Header Box: Purple Title -->
<div style="color:white;background-color:#1d1545;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 7: Enforce Correct Data Types</b></div>

<!-- Step 7 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
<b>Goal:</b> Ensure that all numeric columns are of the correct data type.<br><br>
<b>Fix:</b> Convert the relevant columns to the correct numeric types to prevent any errors in analysis or modeling.
</div>

In [9]:
# Identify numeric columns by excluding text columns
numeric_columns = df.columns.difference(text_columns)
df[numeric_columns] = df[numeric_columns].astype(float)

<!-- Step 8 Header Box: Purple Title -->
<div style="color:white;background-color:#1d1545;padding:1.5%;border-radius:20px;font-size:1.3em;text-align:left"><b>Step 8: Final Data Review</b></div>

<!-- Step 8 Description Box: Info Callout -->
<div class="alert alert-block alert-info">
<b>Goal:</b> Review the cleaned dataset to ensure all transformations and corrections have been applied correctly.<br><br>
Additionally, save the final cleaned dataset for further analysis or modeling.<br><br>
<b>Fix:</b> Perform a final check and save the dataset in the desired format (e.g., CSV, Excel) for future use.
</div>

In [11]:
# Final check on data structure
print(df.info())

# Preview cleaned data
df.head()
df.to_csv("AI_index_db.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                65 non-null     object
 1   talent                 65 non-null     float64
 2   infrastructure         65 non-null     float64
 3   operating_environment  65 non-null     float64
 4   research               65 non-null     float64
 5   development            65 non-null     float64
 6   government_strategy    65 non-null     float64
 7   commercial             65 non-null     float64
 8   total_score            65 non-null     float64
 9   region                 65 non-null     object
 10  cluster                65 non-null     object
 11  income_group           65 non-null     object
 12  political_regime       65 non-null     object
dtypes: float64(8), object(5)
memory usage: 6.7+ KB
None